<section class='intro-section' id='intro-section'>
    <div class='overlay'>
      <div class='container container-pad'>
        <div class='row'>
          <div class='col-sm-6 col-xs-12 p-box'>
            <h1>
              MOA | <span style='color:#dc3545;'>TECHNOLOGIES</span>
            </h1>
            <hr class='w-r'>
            <h2>
              PEOPLE WORK BETTER TOGETHER
            </h2>
            <p> 
              The power of one, if fearless and focused, is formidable, but the power of many working together is better.
              -Gloria Macapagal Arroyo
            </p>
          </div>
          <div class='col-6 d-none d-sm-block b-box p-box text-center'>
            <p> 
              Want to work with me? I'm always looking for new projects or a coding buddy. Don't be shy.
            </p>
            <div class=''>
              <%= link_to 'Get in touch', '#contact', class:'btn btn-primary cookie-accept'%>
            </div>
          </div>
        </div>
        <div class='text-center light'>
          <%= link_to "#{link}", class:'nav-link' do %>
            <i><%= icon "chevron-down", {aria:'Projects',height:'4em'}%></i>
          <% end %>
        </div>
      </div>
    </div>
  </section>