<section class='container container-pad animation-element' id='testimonials'>
  <h1 class='text-center'>
    Client Testimonials
  </h1>
  <p class='text-center'>
    Client feedback on great experiences
  </p>
  <div id="testimonialCarouselIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    
    <li data-target="#testimonialCarouselIndicators" data-slide-to="0" class="testimonial active"></li>
    <li data-target="#testimonialCarouselIndicators" data-slide-to="1" class='testimonial'></li>
    <li data-target="#testimonialCarouselIndicators" data-slide-to="2" class='testimonial'></li>
    <li data-target="#testimonialCarouselIndicators" data-slide-to="3" class='testimonial'></li>
    
  </ol>
  <div class="carousel-inner text-center testimonial-content">
    <div class="carousel-item active">
        <blockquote>
          Ozi has been working with me for several months on multiple projects ranging from building computers to building websites. He has been invaluable for both his technical skills and his ability to work with others. Many times he has helped me with difficult technical issues and has demonstrated the ability to master new skills quickly.
        </blockquote>
        <p>
          Hemal B (<a href='https://www.nucifera.co.uk' target='_blank'>Nucifera</a>)
        </p>
    </div>
    <div class="carousel-item">
        <blockquote>
          Ozi is creative, talented and knowledgeable with his service. He helped us re-vamp and optimize our website. He also helped with some digital marketing strategies to bring us some new students to our website. He learns new programs quickly and is also patient and helpful when teaching the new programs to others. He is a delight to work with and a valuable resource to our business
        </blockquote>
        <p>
          Daniel Ak (<a href='https://christredeemer.ac.uk/' target='_blank'>CRC</a>)
        </p>
    </div>
    <div class="carousel-item">
        <blockquote>
          I loved working with Ozzy. He really helped me start my youtube career and helped me get to over 20,000+ subscribers. He delivers what he promises and I'd recommend him to anyone who wants to spread the word about their business
        </blockquote>
        <p>
          Prince G (<a href='https://www.youtube.com/channel/UCeA6ujiFzFII5id75ma1s8Q' target='_blank'>Pshow</a>)
        </p>
    </div>
    <div class="carousel-item">
        <blockquote>
          I used their Graphic design, and Video editing services and they also gave some really good social media marketing advice for free which got me 200+ followers on instagram in a month. It's been great working with them
        </blockquote>
        <p>
          Daniel Am (<a href='https://instagram.com/themysteryoftravel' target='_blank'>@themysteryoftravel</a>)
        </p>
    </div>
  </div>
  <a class="carousel-control-prev testimonial d-none d-sm-flex" href="#testimonialCarouselIndicators" role="button" data-slide="prev">
    <%= icon "chevron-left", {height:'30px'} %>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next testimonial d-none d-sm-flex" href="#testimonialCarouselIndicators" role="button" data-slide="next">
    <%= icon "chevron-right", {height:'30px'} %>
    <span class="sr-only">Next</span>
  </a>
</div>
</section>