<div class='container' style='height:400px;'>
  <div class='row'>
    <div class='col-sm-4'>
      ok
    </div>
    <div class='col-sm-4'>
      I
    </div>
    <div class='col-sm-4'>
      Like
    </div>
  </div>
</div>