<div class='container form-container container-pad'>
  <h1 class='text-center'>
    Edit Project
  </h1>

  <%= render 'form', project: @project %>

  <%= link_to 'Show', @project %> |
  <%= link_to 'Back', projects_path %>
</div>
