<div class='container container-pad'>
  <h1 class='fade animation-element'>
    Projects
  </h1>
  <hr>
  <% if user_signed_in? %>
      <p>
        <%= link_to 'New Project', new_project_path, class:'btn btn-primary' %>
      </p>
  <% end %>
  <section class='projects' id='projects'>
    <div class='container'>
      <div class='row fade animation-element'>
        <%= render 'projects/projects', projects:@projects %>
      </div>
    </div>
  </section>
</div>