div.container.privacy {
    font-family:'lato';
    font-weight:100;
    padding-bottom:20px;
}
div.privacy h2 {
    padding:10px 10px 10px 20px;
    margin:0px;
}

div.privacy p {
    line-height:1.3;
    padding:10px 10px 10px 20px;
    width:100%;
    margin:0px;
}

div.privacy h1 {
    text-align:center;
    padding:30px 10px 30px 20px;
    margin:0 auto;
}