html {
  height:100%
  // scroll-behavior is not cross browser compatible yet
  // scroll-behavior: smooth;
}

body .container {
  max-width:1400px;
  font-family: 'kollektif',lato,verdana, arial, helvetica, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color:#555;
}

.center {
  text-align:center;
}

span.contact-list {
  padding-left:4px;
}
ul.normal {
  list-style-type:none;
  padding:0px 5px;
}
ul.normal li {
  padding:10px;
}

ol li.testimonial {
  background-color:#333;
}

a.testimonial, a.testimonial:focus {
  color:#333;
}

a.testimonial:hover {
  color:#000;
}

.animation-element {
  transition:1s;
}

.container-pad {
  padding-top:80px;
  padding-bottom:80px;
}

.light a {
  color:#AAA;
  transition:1s;
}

.light a:hover {
  color:#FFF;
}
 
  
div.caption {
  position:relative;
  padding:10px 10px 40px 10px;
  height:12.5em;
  overflow:hidden;
}

div.caption div.overlay {
  position:absolute;
  bottom:0px;
  width:100%;
  height:6em;
  background-image:linear-gradient(rgba(255,255,255,0) 10%, rgba(255,255,255,1) 40%);
}

div.caption div.overlay a {
  position:absolute;
  bottom:15px;
  right:10px;
  width:100%;
}

.box-wrapper, div.box-wrapper {
  border:solid 1px #DDD;
  border-radius:3px;
  box-shadow:4px 4px 1px #EEE;
  background-color:#FFF;
  margin-bottom:20px;
  padding:10px;
}

#technology-stack .tech-icon {
  height:4em;width:auto;
}

.w-circle-icon {
  background: white;
  border-radius: 3em;
}


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
  .text-xs-center {
    text-align:center;
  }
  
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
  
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 

}