section.intro-section {
  background-image:image-url('pexels-photo-374631');
  background-color:#333;
  background-size: auto 145%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

section.intro-section, section.intro-section div.overlay {
  height:100vh;
}

section.intro-section div.container.container-pad {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// For small devises, style the top of the page
@media (max-width: 576px) { 
  section.intro-section div.container.container-pad {
    position: relative;
    top: auto;
    left: auto;
    transform: none;
  }
  
  section.intro-section, section.intro-section div.overlay {
    height:auto;
  }
  
  section.intro-section {
  background-image:image-url('pexels-photo-374631');
  background-color:#333;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
}

section.container div.row {
  min-height:500px;
}

section.intro-section div.overlay {
  background-color:rgba(0,0,0,0.5);
}

section.intro-section div.container div.row {
  color:#FFF;
}

 #intro-section .container i {
    display:inline-block;
    height:4em;
    width:4em;
    border-radius:3em;
    transition:1s;
  }

  
  
  #intro-section .container i:hover {
    background-color:#FFF;
    color:#000;
  }
  
  
  
  
  
  
  #who-am-i .fade.fade-left.animation-element {
    margin-left:-200px;
    transition: 2s;
  }
  
  
  #who-am-i .fade.fade-left.animation-element.in-view {
    margin-left:0px;
  }
  
  #who-am-i .fade.fade-right.animation-element {
    margin-left:200px;
    transition: 2s;
  }
  
  
  #who-am-i .fade.fade-right.animation-element.in-view {
    margin-left:0px;
  }
  
  #technology-stack .tech {
    width:100%;
    border:solid 1px white;
  }
  
  #technology-stack {
    max-width: 1000px;
    margin:0 auto;
  }
  
  #technology-stack .container .d-flex.justify-content-between .p-2.btn {
    font-weight:bold;
  }

  #technology-stack .btn-light.tech {
    border:solid 1px #666;
  }
  
  .fade.animation-element {
    opacity:0;
    transition: 3s;
  }

  .fade.animation-element.in-view {
    opacity:1;
  }


  hr.f-e {
    margin-top:0px;
    border-top: solid 3px #004085;
  }
  
  hr.b-e {
    margin-top:0px;
    border-top: solid 3px #dc3545;
  }
  
  hr.v-c {
    margin-top:0px;
    border-top: solid 3px #28a745;
  }
  
  hr.w-r {
    margin-top:0px;
    border-top:solid 1px #FFF;
  }
  
  .p-box {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  .b-box {
    max-height:200px;
    background-color:rgba(0,0,0,0.5);
    border-radius: 1em;
    color:#fff;
    line-height:2;
    font-size:1.05em;
  }
  
 